@font-face{
    font-family: "Lora-Regular";
    font-display: auto;
    src: local("Lora-Regular"), url("fonts/Lora/Lora-Regular.ttf") format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: "Lora-Bold";
    font-display: auto;
    src: local("Lora-Bold"), url("fonts/Lora/Lora-Bold.ttf") format('truetype');
    font-weight: bold;
}
@font-face{
    font-family: "Holtwood One SC";
    font-display: auto;
    src: local("Holtwood One SC"), url("fonts/Holtwood_One_SC/HoltwoodOneSC.ttf") format('truetype');
}