<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Posokhin's
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            header.header
                .container
                    .header__wrap
                        .header__logo
                            .header__logo-left
                                .header__logo-squares
                                    .header__logo-squares-yellow
                                    .header__logo-squares-blue
                            .header__logo-right
                                a.header__homelink(href="")
                                    h1.header__logo-title Posokhin’s
                        nav.header__nav.header__nav_mobile
                            ul.header__list.header__list_mobile
                                li.header__item
                                    span.header__item-overlay
                                    a.header__link(href="") программирование
                                li.header__item
                                    span.header__item-overlay
                                    a.header__link(href="") дизайн в didgital
                                li.header__item
                                    span.header__item-overlay
                                    a.header__link(href="") авторы
                                li.header__item
                                    span.header__item-overlay
                                    a.header__link(href="") заказать сайт
                                li.header__item.header__item-mobile
                                    .header__social
                                        ul.header__social-list
                                            li.header__social-item
                                                a.header__social-link(href="")
                                                    <i class="fab fa-instagram"></i>
                                            li.header__social-item
                                                a.header__social-link(href="")
                                                    <i class="fab fa-telegram-plane"></i>
                                            li.header__social-item
                                                a.header__social-link(href="")
                                                    <i class="fab fa-facebook"></i>
                        .header__social.header__social-head
                            ul.header__social-list
                                li.header__social-item
                                    a.header__social-link(href="")
                                        <i class="fab fa-instagram"></i>
                                li.header__social-item
                                    a.header__social-link(href="")
                                        <i class="fab fa-telegram-plane"></i>
                                li.header__social-item
                                    a.header__social-link(href="")
                                        <i class="fab fa-facebook"></i>
                        .header__menu-btn
                            .header__menu-inner
                                span.header__menu-span1.header__menu-span
                                span.header__menu-span2.header__menu-span
                                span.header__menu-span3.header__menu-span
                                span.header__menu-span4.header__menu-span
            section.descript
                .container
                    .descript__wrap
                        .descript__left
                            p.wow.bounceInLeft Programming blog and design in the world digital
                        .descript__right
                            img.descript__img.wow.bounceInRight(src="img/logo.png", alt="")
            main.main
                .container
                    .main__wrap
                        section.posts
                            ul.posts__list
                                li.posts__item.wow.fadeInUp
                                    a(href="").posts__item-overlay
                                        <div class="posts__item-overlay-top">
                                            .posts__item-overlay-likes.posts__item-overlay-content
                                                <i class="far fa-heart"></i>
                                                p 345
                                            .posts__item-overlay-views.posts__item-overlay-content
                                                <i class="far fa-eye"></i>
                                                p 345
                                            .posts__item-overlay-comments.posts__item-overlay-content
                                                <i class="fas fa-comment"></i>
                                                p 345
                                        </div>
                                    a.posts__link(href="")
                                        .posts__img
                                            img(src="img/1.jpg", alt="")
                                        .posts__desc
                                            h2.posts__desc-title Программирование как стиль жизни
                                            p.posts__desc-date 19.03.2019
                                            p.posts__desc-text Чтобы привлечь внимание посетителя или клиента, стоит добавить.В работе с цветом начинаешь понимать и чувствовать не только сами цвета, а их сочетание, оттенки и цель использования.

                                li.posts__item.wow.fadeInUp
                                    a(href="").posts__item-overlay
                                        <div class="posts__item-overlay-top">
                                            .posts__item-overlay-likes.posts__item-overlay-content
                                                <i class="far fa-heart"></i>
                                                p 345
                                            .posts__item-overlay-views.posts__item-overlay-content
                                                <i class="far fa-eye"></i>
                                                p 345
                                            .posts__item-overlay-comments.posts__item-overlay-content
                                                <i class="fas fa-comment"></i>
                                                p 345
                                        </div>
                                    a.posts__link(href="")
                                        .posts__img
                                            img(src="img/1.jpg", alt="")
                                        .posts__desc
                                            h2.posts__desc-title Теория цвета. Красный цвет.
                                            p.posts__desc-date 19.03.2019
                                            p.posts__desc-text Чтобы привлечь внимание посетителя или клиента, стоит добавить.В работе с цветом начинаешь понимать и чувствовать не только сами цвета, а их сочетание, оттенки и цель использования.
                                li.posts__item.wow.fadeInUp
                                    a(href="").posts__item-overlay
                                        <div class="posts__item-overlay-top">
                                            .posts__item-overlay-likes.posts__item-overlay-content
                                                <i class="far fa-heart"></i>
                                                p 345
                                            .posts__item-overlay-views.posts__item-overlay-content
                                                <i class="far fa-eye"></i>
                                                p 345
                                            .posts__item-overlay-comments.posts__item-overlay-content
                                                <i class="fas fa-comment"></i>
                                                p 345
                                        </div>
                                    a.posts__link(href="")
                                        .posts__img
                                            img(src="img/1.jpg", alt="")
                                        .posts__desc
                                            h2.posts__desc-title Программирование как стиль жизни
                                            p.posts__desc-date 19.03.2019
                                            p.posts__desc-text Чтобы привлечь внимание посетителя или клиента, стоит добавить.В работе с цветом начинаешь понимать и чувствовать не только сами цвета, а их сочетание, оттенки и цель использования.
                                li.posts__item.wow.fadeInUp
                                    a(href="").posts__item-overlay
                                        <div class="posts__item-overlay-top">
                                            .posts__item-overlay-likes.posts__item-overlay-content
                                                <i class="far fa-heart"></i>
                                                p 345
                                            .posts__item-overlay-views.posts__item-overlay-content
                                                <i class="far fa-eye"></i>
                                                p 345
                                            .posts__item-overlay-comments.posts__item-overlay-content
                                                <i class="fas fa-comment"></i>
                                                p 345
                                        </div>
                                    a.posts__link(href="")
                                        .posts__img
                                            img(src="img/1.jpg", alt="")
                                        .posts__desc
                                            h2.posts__desc-title Теория цвета. Красный цвет.
                                            p.posts__desc-date 19.03.2019
                                            p.posts__desc-text Чтобы привлечь внимание посетителя или клиента, стоит добавить.В работе с цветом начинаешь понимать и чувствовать не только сами цвета, а их сочетание, оттенки и цель использования.
                                li.posts__item.wow.fadeInUp
                                    a(href="").posts__item-overlay
                                        <div class="posts__item-overlay-top">
                                            .posts__item-overlay-likes.posts__item-overlay-content
                                                <i class="far fa-heart"></i>
                                                p 345
                                            .posts__item-overlay-views.posts__item-overlay-content
                                                <i class="far fa-eye"></i>
                                                p 345
                                            .posts__item-overlay-comments.posts__item-overlay-content
                                                <i class="fas fa-comment"></i>
                                                p 345
                                        </div>
                                    a.posts__link(href="")
                                        .posts__img
                                            img(src="img/1.jpg", alt="")
                                        .posts__desc
                                            h2.posts__desc-title Теория цвета. Красный цвет.
                                            p.posts__desc-date 19.03.2019
                                            p.posts__desc-text Чтобы привлечь внимание посетителя или клиента, стоит добавить.В работе с цветом начинаешь понимать и чувствовать не только сами цвета, а их сочетание, оттенки и цель использования.
                        aside.aside
                            section.aside__authors  
                                .aside__section-top
                                    h2.aside__section-title Авторы
                                    .aside__section-square
                                .aside__authors-contents
                                    .aside__authors-photo
                                        img.aside__authors-photo-evgenia.wow(src="img/evgenia.png", alt="")
                                        img.aside__authors-photo-anton.wow(src="img/anton.png", alt="")
                                    p.aside__authors-text Привет!Мы Антон и Евгения Посохины. Здесь вы найдете актуальную информации в сфере программирования и digital дизайне
                            section.aside__popular
                                .aside__section-top
                                    h2.aside__section-title Популярные
                                    .aside__section-square
                                .aside__popular-content
                                    ul.aside__popular-list
                                        li.aside__popular-item
                                            a(href="").aside__popular-link
                                                .aside__popular-img
                                                h3.aside__popular-title Значение Синего Цвета в Digital
                                        li.aside__popular-item
                                            a(href="").aside__popular-link
                                                .aside__popular-img
                                                h3.aside__popular-title Значение Синего Цвета в Digital
                                        li.aside__popular-item
                                            a(href="").aside__popular-link
                                                .aside__popular-img
                                                h3.aside__popular-title Значение Синего Цвета в Digital
        footer.footer
            .container
                .footer__top
                    .header__social
                            ul.header__social-list
                                li.header__social-item
                                    a.header__social-link(href="")
                                        <i class="fab fa-instagram"></i>
                                li.header__social-item
                                    a.header__social-link(href="")
                                        <i class="fab fa-telegram-plane"></i>
                                li.header__social-item
                                    a.header__social-link(href="")
                                        <i class="fab fa-facebook"></i>
                .footer__bottom
                    .header__logo.footer__logo
                                .header__logo-left
                                    .header__logo-squares
                                        .header__logo-squares-yellow
                                        .header__logo-squares-blue
                                .header__logo-right
                                    a.header__homelink(href="")
                                        h1.header__logo-title Posokhin’s
        script(src="js/main.js")

                                    
                                



                                
